# Compiled source #
##################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# Mac
*.dmg
*.pkg
# Linux
*.deb
*.rpm

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# OS-specific #
###############
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# IDE-specific #
################
.idea
.project
.settings
.vs
.vscode
nbproject

# Build artifacts #
###################
build/
dist/

# Dependencies #
################
node_modules/
jspm_packages/

# Temporary files #
###################
*~

# Environment variables #
#########################
.env